<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gneworks.dao.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.gneworks.dao.entity.User">
    <id column="user_id" jdbcType="CHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pw" jdbcType="VARCHAR" property="userPw" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="profile_img" jdbcType="VARCHAR" property="profileImg" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
    <result column="delete_flg" jdbcType="TINYINT" property="deleteFlg" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where user_id = #{userId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.gneworks.dao.entity.User">
    insert into user (user_id, user_name, user_pw, 
      phone_num, profile_img, role_id, 
      birthday, gender, postal_code, 
      detail_address, last_update, delete_flg
      )
    values (#{userId,jdbcType=CHAR}, #{userName,jdbcType=VARCHAR}, #{userPw,jdbcType=VARCHAR}, 
      #{phoneNum,jdbcType=VARCHAR}, #{profileImg,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, 
      #{birthday,jdbcType=DATE}, #{gender,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR}, 
      #{detailAddress,jdbcType=VARCHAR}, #{lastUpdate,jdbcType=TIMESTAMP}, #{deleteFlg,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gneworks.dao.entity.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pw = #{userPw,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      profile_img = #{profileImg,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      gender = #{gender,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      delete_flg = #{deleteFlg,jdbcType=TINYINT}
    where user_id = #{userId,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select user_id, user_name, user_pw, phone_num, profile_img, role_id, birthday, gender, 
    postal_code, detail_address, last_update, delete_flg
    from user
    where user_id = #{userId,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, user_name, user_pw, phone_num, profile_img, role_id, birthday, gender, 
    postal_code, detail_address, last_update, delete_flg
    from user
  </select>
  <select id="findLoginUser" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from user where user_id = #{userId,jdbcType=VARCHAR} and delete_flg = 0
  </select>
  <select id="findUser" resultMap="BaseResultMap">
    select * from user
    where user_id = #{userId,jdbcType=CHAR} and delete_flg = 0
  </select>
  <select id="selectAllActiveUsers" resultMap="BaseResultMap">
    select user_id, user_name, phone_num, profile_img, role_id, birthday, gender,
           postal_code, detail_address, last_update, delete_flg
    from user
    where delete_flg = 0
      and role_id = 1
    order by last_update desc
  </select>
  <update id="updateProfile" parameterType="com.gneworks.dao.entity.User">
    update user
    set
      user_name = #{userName,jdbcType=VARCHAR},
      user_pw = #{userPw,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      profile_img = #{profileImg,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      gender = #{gender,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      last_update = DATE_ADD(UTC_TIMESTAMP(), INTERVAL 9 HOUR)
    where
      user_id = #{userId,jdbcType=CHAR}
  </update>
  <update id="updateUserByAdmin" parameterType="com.gneworks.dao.entity.User">
    update user
    set
      user_name = #{userName,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      gender = #{gender,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      last_update = DATE_ADD(UTC_TIMESTAMP(), INTERVAL 9 HOUR)
    where
      user_id = #{userId,jdbcType=CHAR}
  </update>
  <update id="updatePassword">
    update user
    set
      user_pw = #{userPw,jdbcType=VARCHAR},
      last_update = DATE_ADD(UTC_TIMESTAMP(), INTERVAL 9 HOUR)
    where
      user_id = #{userId,jdbcType=CHAR}
  </update>
  <update id="softDeleteUser">
    update user
    set
      delete_flg = 1,
      last_update = DATE_ADD(UTC_TIMESTAMP(), INTERVAL 9 HOUR)
    where
      user_id = #{userId,jdbcType=CHAR}
  </update>
  <update id="updateLastLogin">
    update user
    set last_update = DATE_ADD(UTC_TIMESTAMP(), INTERVAL 9 HOUR)
    where user_id = #{userId,jdbcType=CHAR}
  </update>

  <!-- 계정 목록 검색 및 페이징/전체 조회 (담당 지역 수, 실적 건수 포함) -->
  <select id="selectUserListPaged" parameterType="com.gneworks.dto.req.AdminUserSearchReq" resultType="com.gneworks.dto.res.AdminUserRes">
    select 
      u.user_id as userId,
      u.user_name as userName,
      u.phone_num as phoneNum,
      u.profile_img as profileImg,
      u.role_id as roleId,
      date_format(u.birthday, '%Y-%m-%d') as birthday,
      u.gender,
      u.postal_code as postalCode,
      u.detail_address as detailAddress,
      date_format(u.last_update, '%Y-%m-%d %H:%i') as lastUpdated,
      date_format(u.last_update, '%Y-%m-%d %H:%i') as createTime,
      coalesce(rc.region_count, 0) as regionCount,
      coalesce(pc.report_count, 0) as reportCount
    from user u
    left join (
      select user_id, count(*) as region_count
      from user_assigned_region
      group by user_id
    ) rc on u.user_id = rc.user_id
    left join (
      select user_id, count(*) as report_count
      from work_report
      where delete_flg = 0
      group by user_id
    ) pc on u.user_id = pc.user_id
    where u.delete_flg = 0
      and u.role_id = 1
      <if test="query != null and query != ''">
        and (
          u.user_name like concat('%', #{query}, '%')
          or u.user_id like concat('%', #{query}, '%')
          or u.phone_num like concat('%', #{query}, '%')
        )
      </if>
    order by u.last_update desc
    <if test="size != null and size > 0">
      limit #{size} offset #{offset}
    </if>
  </select>

  <!-- 계정 목록 건수 조회 -->
  <select id="selectUserCount" parameterType="com.gneworks.dto.req.AdminUserSearchReq" resultType="long">
    select count(*)
    from user u
    where u.delete_flg = 0
      and u.role_id = 1
      <if test="query != null and query != ''">
        and (
          u.user_name like concat('%', #{query}, '%')
          or u.user_id like concat('%', #{query}, '%')
          or u.phone_num like concat('%', #{query}, '%')
        )
      </if>
  </select>

  <select id="selectUsersByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, user_name, user_pw, phone_num, profile_img, role_id, birthday, gender, 
    postal_code, detail_address, last_update, delete_flg
    from user
    where role_id = #{roleId,jdbcType=INTEGER}
      and delete_flg = 0
  </select>
</mapper>